<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAa_6kSNzjHmiLqm3p6NiKxdiFZ2_JKDWk</string>
	<key>GCM_SENDER_ID</key>
	<string>886417101544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-92927</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-92927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886417101544:ios:4755bb010ada407ee92f5d</string>
</dict>
</plist>